body #top section{
    display:flex;
    background-color:black;
    justify-content: space-around;
    animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
    0%   {background-color: black;}
    25%  {background-color: grey;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
body #middle{
    display:flex;
    justify-content: space-around;
    background-color:grey;
}
body #bottom ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 700px;
}
body #last ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 200px;
}
body #image{
    width: 700px;
    height: 600px;
}
#head{
    font-family: "Lucida Console", Courier, monospace;
    color:white;
    font-size: 40px;
}
#asd{
    color:white;
}
#zxc{
    border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
#bnm{
    border-radius: 4px;
  box-sizing: border-box;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
#cars{
    border-radius: 4px;
  box-sizing: border-box;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.button2{
    background-color: #4CAF50;
   color: white;
   padding: 10px 62px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-color: black;
}
.button1{
    background-color: red;
    border-color: black;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.button3{
    background-color: blue;
    color: white;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-color: black;
}
footer{
    text-align: center;
}
